body {
    background-image: url("../images/done.jpg");
    font-family: 'Iceland', cursive;
    max-width: 500px;
    margin-left: auto;
}

h1 {
    width: 450px;
    padding: 15px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 50px; 
    background-color: rgb(143, 52, 247);
    font-weight: bold;
    opacity: .4;
    margin-right: 3px;
}

.instructions {
    width: 450px;
    height: 240px;
    padding: 15px;
    padding-top: 1px;
    margin-top: 3px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(143, 52, 247);
    opacity: .4;
}

.randomNumber {
    width: 450px;
    height: 64px;
    padding: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    float: left;
    background-color: rgb(143, 52, 247);
    opacity: .4;
    color: black;

}

#wins {
    width: 160px;
    height: 67px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 27px;
    float: left;
    font-weight: bold;
    background-color: rgb(143, 52, 247);
    opacity: .4;
    margin-right: 20px;
}

#losses {
    width: 160px;
    height: 67px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 27px;
    float: left;
    font-weight: bold;
    background-color: rgb(143, 52, 247);
    opacity: .4;
    margin-left: 100px;
}

#light {
    clear: both;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 1px;
}

#purple {
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 51px;
}

#white {
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 51px;
}

#blue {
    float: left;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 53px;
}

#textOnScreen {
    clear: both;
    font-weight: bold;
    width: 480px;
    margin-top: 5px;
    margin-bottom: 4px;
    background-color: rgb(143, 52, 247);
    text-align: center;
    font-size: 27px;
    opacity: .4;
}

#totalScore {
    font-weight: bold;
    width: 480px;
    height: 90px;
    margin-top: 4px;
    text-align: center;    
    background-color: rgb(143, 52, 247);
    font-size: 50px;
    opacity: .4;
}
