body {
    background-image: url("../images/1.jpg");
    font-family: 'Iceland', cursive;
    max-width: 500px;
    margin: auto;
}

h1 {
    width: 450px;
    border: 3px solid black;
    padding: 15px;
    margin: 15px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 45px; 
    background-color: rgb(97, 59, 202);  
    font-weight: bold;
}

.instructions {
    width: 450px;
    height: 240px;
    border: 3px solid black;
    padding: 15px;
    padding-top: 1px;
    margin: 15px;
    margin-top: 3px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    background-color:rgb(97, 59, 202);
}

.randomNumber {
    width: 450px;
    height: 64px;
    border: 3px solid black;
    padding: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 15px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    float: left;
    background-color: rgb(97, 59, 202);
}

#wins {
    width: 160px;
    height: 67px;
    border: 3px solid black;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-right: 50px;
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    float: left;
    font-weight: bold;
    background-color: rgb(97, 59, 202);
}

#losses {
    width: 160px;
    height: 67px;
    border: 3px solid black;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-left: 63px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    float: left;
    font-weight: bold;
    background-color: rgb(97, 59, 202);
}

#purple {
    clear: both;
    float: left;
    margin-top: 2px;
    margin-right: 29px;
    margin-bottom: 2px;
    margin-left: 17px;
}

#blue {
    float: left;
    margin-top: 2px;
    margin-right: 27px;
    margin-bottom: 2px;
    margin-left: 27px;
}

#yellow {
    float: left;
    margin-top: 2px;
    margin-right: 30px;
    margin-bottom: 2px;
    margin-left: 29px;
}

#green {
    float: left;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 30px;
}

#textOnScreen {
    clear: both;
    font-weight: bold;
    width: 480px;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 4px;
    border: 3px solid black;
    background-color: rgb(97, 59, 202);
    text-align: center;
    font-size: 25px;
}

#totalScore {
    font-weight: bold;
    width: 480px;
    height: 110px;
    margin: 15px;
    margin-top: 4px;
    border: 3px solid black;
    text-align: center;
    background-color: rgb(97, 59, 202);
    font-size: 45px;
}
